            #loginWidget {
                width: 400px;
                margin: 50px auto;
                text-align: center;
            }
            #loginWidget > h1 {
                margin: 0;
                padding: 2px;
            }
            #loginWidget form {
                background-color: #428bca;
                border: 1px solid #fff;
                padding: 0.5em 0;
                border-radius: 0 0 10px 10px;
            }
            #loginWidget form label {
                width: 95px;
                text-align: right;
                display: inline-block;
            }
            #loginWidget div.stack {
                margin: 1em 0;
            }
            div.ui-state-error {
                padding: 4px 0;
            }
            div.pageWidget {
                width: 600px;
                margin: 50px auto;
                text-align: center;
            }

            .gallerybody {
                    background-image: linear-gradient(white, black);
            }
        
            .wrapper {
              display: grid;
              margin-right: auto; 
              margin-left:  auto; 
              margin-bottom: 30px;    
                
              background-image: linear-gradient(	#428bca, #428bca);


              max-width: 920px;  

              grid-template-columns: 300px 300px 300px;
              grid-template-rows: 180px 180px 180px 180px;
              grid-gap: 10px;
              background-color: #fff;
              color: #444;
            }

            .box {
              background-color: #444;
              color: #fff;
              padding: 20px;
              font-size: 150%;
              border: 5px solid white;
              text-align: center;
            }
            
            .e {
                grid-column-start: 2;
                grid-row-start: 2;
                grid-row-end: 4;
                border-radius: 8px;
            }
            
            img {
                max-width:105%;
                max-height:105%;
                display: block;
                margin: auto;
            }
            
            .navbar {
                height: 100px;
                margin-bottom: 30px;
            }
            
            .navbar-brand {
                font-size: 40px !important;
            }
            
            .middle {
                display: inline-block;
                margin-top: 13px;
                margin-right: 170px;
                width: 250px;
            }

            .login-button {
                width: 100px;
            }

            .mainbody {
                   background-image: url("background.jpg");
                
                   background-repeat:no-repeat;

                   background-size:cover;
            }

            .video-player {
                display: table;
                margin: 0 auto;
                margin-top: 60px;

            }

            .main-wrapper {
                  margin-right: auto; /* 1 */
                  margin-left:  auto; /* 1 */

                  max-width: 100%; /* 2 */
            }

            label, h1 {
                color: #fff !important;
            }

            .loginbody {
                background-color: #444;
            }

            p {
                font-size: 12pt;
            }


